/* Add a black background color to the top navigation */
.topnav {
    padding-top: 10px;
    background-color: rgb(41, 72, 107);
    overflow: hidden;
    opacity: 0.5;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    font-size: 30px;
}
.topnav .logo{

padding-bottom: 50px;
padding-top: 40px;
padding-right: 10px;

   float: left;
   height: auto;
   width: 30%;
   background-repeat: no-repeat;
   background-position: center;
   background-size: 230px;
 
   
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: rgb(88, 247, 247);
    color: white;
}

.home{



    background-image: url("./Images/covalence-store-home-copy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    
    padding-bottom: 50%;
    
}
.logo{

    background-image: url("../Images/Newlogo.png");
    max-height: 100%;
    max-width: 100%;
}

.topnav .divider{

    font-size: 30px;
    float: left;
}

.topnav .cart{
    
    float: right;
    font-size: 15px;
    font-family: advent-pro, sans-serif;
}
.topnav .apparel{
    float: left;
    font-size: 15px;
    font-family: advent-pro, sans-serif;
}
.topnav .misc{
    float: left;
    font-size: 15px;
    font-family: advent-pro, sans-serif;
}
.navlogo{
max-width: 100%;
max-height: 100%;
}

.container-fluid{
    color: rgba(19,28,33);
}

/* Ben added this from here */
.navbar .divider-vertical {
    height: 40px;
    margin: 0 9px;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #ffffff;
    }
/* to here */

#custom-bootstrap-menu.navbar-default .navbar-brand {
    height: 100px;
    width: 300px;
    background-image: url("./Images/Newlogo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: rgb(59, 57, 57);
    margin-left: 15px;
    margin-right: 100px;
}
#custom-bootstrap-menu.navbar-default {
    font-family: 'Rubik', sans-serif;
    font-size: 19px;
    background-color: rgba(35, 57, 68,0.5);
    border-bottom-width: 3px;
    /* opacity: 0.4; */
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(94, 198, 219, 1);
    background-color: rgba(19, 28, 33);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(19, 28, 33);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(19, 28, 33);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: rgba(19,28,33);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: rgba(19,28,33);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(19,28,33);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: rgba(19,28,33);
}

.btn{

    background-color:rgb(94, 198, 219);
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: bold;

   
    

}
.txt{

   
    font-family: 'Rubik', sans-serif;
    color: white;
    
    font-size: 50px
}

.shopbtn{
    
    margin-top: 300px;
    margin-bottom:    50px;
    float: left;
    margin-right: 150px;
    margin-left: 150px;
}
.cartcnt{
    height: 45px;
    width:45px;
    border-radius: 50%;
    background-color: rgb(94,198,219);
    color: white;
    font-size: 25px;
    padding-left: 11px;
    margin-right: 5px;
    padding-top: 5px;
}

.ftr{

    margin-top: -40px
}

.ftrlogo{

    margin-top: 1em;
    height: 35px;
    width:auto;
    background-image: url("/Images/logo-footer.svg");
    background-repeat: no-repeat;
    margin-left: 1em;
    margin-bottom: 1em ;
    
}

.ftrtext{
  margin-top: 1em;
  float: right;
  
  
    
}

.product{

    height: 200px;
    max-height: 300px;
    width: auto;
    /* border-radius: 5px;
    border-style: solid;
    border-color: rgb(27, 73, 134);
    border-width: 2px; */
    display: inline-block;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-bottom: 5em;
    padding-right: 2em;
    padding-left: 2em;
    margin-top: 1em;
    margin-bottom: 15em;
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    font-weight: bold;
    overflow-wrap: break-word;
    
    margin-right: 2em;
}

.prdctprice{
    float: right;
    color: rgb(94,198,219);
    font-family: 'Rubik',sans-serif;
    font-weight: bold;
    overflow-wrap: break-word
}

.navftr{

    height: 3em;
}

.chknum{

    height: 45px;
    width:45px;
    border-radius: 50%;
    background-color: rgb(94,198,219);
    color: white;
    font-size: 18px;
    padding-left: 18px;
    margin-right: 8px;
    padding-top: 10px;

}

.chktxt{
    font-family: 'Rubik',sans-serif;
    font-weight: bold;
    overflow-wrap: break-word;
    font-size: 30px;

}
.crdpmtbox{

    border-radius: 0px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    background-color: rgb(245, 245, 245);
    width: 40%;
    


}
.crdimg{
margin-bottom: 0%;
height:100%;
width: 100%;
    background-color: lightgray;
}

/* .billaddr{
    /* margin-left: 50%a */


.cartmail{

  margin-right: 25%;
    width: 50%;
}

.checkoutform{

    width: 100%;
}
.cartview{
    background-color: rgb(241, 240, 240);
    height: 50em;
    padding-right: 1em;
    padding-left: 1em;
    position: fixed;
    top: 20px;
    right: 20px;
    margin-top: 10%;
    font-family: 'Rubik',sans-serif;
    font-weight: bold;
    overflow-wrap: break-word;
    font-size: 16px;
   
}
.billaddr{

    width: 50%;
}