<div ng-style="{'width':'100%','overflow':'auto', 'position':'relative', 'top':'-70px', 'left':'0', 'margin-bottom':'5em'}">
    <img class="banner1" src="./Images/covalence-store-{{category}}-hero.jpg" width="100%" style="position: relative;">

    <ul class="productlist">
        <div class="product" ng-repeat="product in products | filter:category">
            <a ng-href="/{{ product.productId }}/product">
            <div ng-style="{'background-image':'url(./Images/{{product.imageUrl}})', 'height':'200px', 'width':'200px', 'background-size':'cover'}"></div>
            <span>{{ product.title }}</span>
            <span class="prdctprice">{{ product.price  | currency:undefined:0}}</span>
            </a>
        </div>
    </ul>
</div>

        <store-Ftr></store-Ftr>

<style>
    banner1 {
        position: relative;
    }
</style>
        