<div class="home1">
    <img class="homebackground" src="./Images/covalence-store-home.jpg" width="100%">
</div>
<div class="shopbtn1" style="position: absolute; top: 20%;">
    <text class="txt">Welcome to the</text><br/>
    <text class="txt">Covalence store.</text><br/>
    <span><a ng-href="/apparel" class="btn btn-lg btn-default" style:"color = white ">START SHOPPIN</a></span>
</div>

<style>
    home1 {
        width: 100%;
        min-width: 1000px;

    }
    shopbtn1 {
        position: absolute;
        top: 10em;
    }
</style>

