<div style="position: absolute; top:0; left:0;">
    <div class="home1">
        <img class="homebackground" src="./Images/covalence-store-home.jpg" width="100%">
    </div>
    <div class="shopbtn1" >
        <text class="txt1">Welcome to the</text><br/>
        <text class="txt1">Covalence store.</text><br/>
        <span><a ng-href="/apparel" class="btn btn-lg btn-default" style:"color: white; border-radius: 2px; letter-spacing: 3px;">START SHOPPIN</a></span>
    </div>
</div>

<style>
    .shopbtn1 {
        position: absolute;
        top: 40%;
        left: 10%;
    }
    .txt1 {
        font-size: 200%;
        font-family: 'Rubik', sans-serif;
        color: white;
        font-weight: bolder;
    }
</style>

