
<div id="cartModal"  class="modal">
    <div class="modal-dialog">
        <div class="modal-content"style="background-color:white;">
            <div class="modal-header"style:"padding-bottom 20px">
                <div style="color:rgb(221, 217, 204); font-weight:bolder; padding-top:20%;"data-dismiss="modal">Close</div>
            </div>
            <div style="padding: 3px"class="modal-body">
                <h3>Your Shopping Cart</h3>
                <ul style="padding: 0px;"class="itemList">
                    <div class="smallitem"style="width:100%;">
                    <li class="listItem" style="font-family: rubik; padding-bottom:10px" ng-repeat="product in products" ng-show="products !== undefined">
                       
                     <div class="cartimg"style="width:100%;float:left; padding: 10px;"><img ng-style="{'float':'left', 'width':'50px', 'height':'50px', 'margin':'10px','background-size':'cover'}" ng-src="../Images/{{ product.imageUrl }}">
                       <div class="cartdescrip"style="position: relative; top: 2%; right:0%;">
                        <div style="color:rgb(151, 150, 150);font-size: 20px; font-weight:bolder;"ng-style="{'float':'top,right'}">{{ product.title }}</div><div style="color:cyan">{{product.price | currency}}</div><br /></div>
                        <div style="width: 100%;text-align: left;padding-right: 65%;"class="removebtn">
                        <button style="border: 0px;padding-top:5px; padding-bottom:5px; padding-right: 15px;padding-left:15px; left:0px; color:rgb(184, 115, 129);background-color:white"class="remove" ng-click="remove()">Remove</button>
                        </div>
                    </div>
                    </li>di
                        <span ng-style="{'float':'left'}" class="dec button">-</span>
                        <span ng-style="{'float':'left'}">{{ product.count }}</span>
                        <span ng-style="{'float':'left'}" class="inc button">+</span>
                        
                    </li>
                    </div>
                </ul>
                <div style="width:100%" class="total">
                <h3>Total Price</h3><div style="font-weight:bolder;padding-left: 80%;"class="currency">{{total | currency}}</div>
                </div>
                <p style="color:gray; font-weight: bolder; opacity:0.5;">Taxes and fees included at checkout.</p><br />
                <div style="text-align: center;">
                <a data-toggle="modal" data-target="#cartModal" ng-href="/checkout"><button class="btn button-default-btn-lg">CHECK OUT</button></a></div>
            </div>
        </div>
    </div>
</div>

<div id="custom-bootstrap-menu" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ng-href="\"></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder" style="color:rgb(19, 28, 33)">
            <ul class="nav navbar-nav navbar-center">
                <li>
                    <a> | </a>
                </li>
                <li>
                    <a ng-href="/apparel">Apparel</a>
                </li>
                <li>
                    <a ng-href="/misc">Misc</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right pull-right">
                <li>
                    <a ng-href="/contact">Contact</a>
                </li>
                <li>
                    <a data-toggle="modal" data-target="#cartModal" data-backdrop="false" >Cart</a>
                    <!-- <div class="cartcnt nav navbar-nav pull-right"> {{ count > 0 ? count : "" }}</div> -->
                </li>
                    
                
            </ul>
        </div>
        <a data-toggle="modal" data-target="#cartModal" data-backdrop="false">
            <div class="cartcnt nav navbar-nav pull-right"><div class="cartlogo" style="height:50px; width:50px; margin-right:30%;padding-right:30%; "><img src="/Images/cart.png" style="height: 40px; width: 50px;object-fit:contain;padding-right: 0px;margin-left:-40%;"></div> {{ count > 0 ? count : "" }}</div>
        </a>
    </div>
</div>


<style>
    
    </style>